{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block content %}
    <!-- Search Item -->
    <div class="d-flex justify-content-center p-4" role="search">
                    {{ form(form) }}
        </div>

    <!-- End Search Item -->
    {% for record in records %}
        <div class="row featurette mt-3 gx-5 text-center align-items-center justify-content-around">
            <div class="col-md-6">
                <div class="card main-background"> 
                    <div class="card-body text-light">
                        <div class="row">
                            <div class="col-md-2">
                                <img class="rounded-circle main-logo" src="{{ asset('assets/img/logo_vooov.png') }}"><br><br>
                                <div><img src="{{ asset('assets/img/moon.svg') }}" class="bi pe-none me-2 small-size-logo " >
                                {{ record.numberOfMoons }}<br><br>
                                </div>
                                <img src="{{ asset('assets/img/headphone.png') }}" class="bi pe-none me-2 small-size-logo " >
                                {{ record.numberOfMoons }}
                            </div>
                            <div class="col-md-3 text-start">
                                <h3>{{ record.artistId.pseudo }}</h3>
                                <h6 class="card-subtitle mb-4 ">{{ record.kind.name }} - {{ record.voiceStyle.voiceStyle }} - {{ record.createdAt }}</h6>
                                <a href="#" class="card-link"><img src="{{ asset('assets/img/play.svg') }}"></a>
                            </div>
                            <div class="col-md-6">
                                <h4 class="card-title mb-3">{{ record.title }}</h4>
                                <p class="card-text">{{ record.description }}</p>
                            </div>
                            <div class="col-md-1">
                                <img src="{{ asset('assets/img/add.svg') }}" class="" data-bs-toggle="collapse" href="#collapse{{ record.id }}" role="button" aria-expanded="false" aria-controls="collapseExample"></img>
                            </div>     
                        </div>

                        <div class="collapse" id="collapse{{ record.id }}">
                                <div class="row">
                                    <div class="col-md-5">
                                        <p>Envoyer des moons</p>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><img src="{{ asset('assets/img/moon.svg') }}" class="small-size-logo"></span>
                                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                            <button class="btn btn-outline-light border-radius-25" type="submit">Envoyer</button>
                                        </div>
                                    </div>                                      
                                    <div class="col-md-7">
                                        <p>Télécharger l'enregistrement</p>
                                        <img src="{{ asset('assets/img/download.svg') }}" class="" data-bs-toggle="collapse" href="#collapse{{ record.id }}" role="button" aria-expanded="false" aria-controls="collapseExample"></img>
                                        <p>Prix : 10000 <img src="{{ asset('assets/img/moon.svg') }}" class="very-small-size-logo"> </p><!-- Add the downloading price from the record -->
                                    </div>   
                                </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>    
    {% endfor %}
    <div class="bottom-right">
        <div class="card main-background">
            <div class="card-body text-light">
            </div>
        </div>
    </div>


{% endblock %}