{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block content %}
    <!-- Search Item -->
    <form class="d-flex justify-content-center p-4" role="search">
        <input class="form-control me-2 search-bar align-self-center border-radius-25" type="search" placeholder="Rechercher" aria-label="Search">
        <button class="btn btn-outline-light border-radius-25" type="submit">Rechercher</button>
    </form>
    <!-- End Search Item -->
    {% for record in records %}
        <div class="row featurette mt-5 pb-5 gx-5 text-center align-items-center justify-content-around">
            <div class="col-md-6">
                <div class="card main-background">
                    <div class="card-body text-light">
                        <div class="row">
                            <div class="col-md2">
                            <img class="rounded-circle" src="{{ asset('assets/img/logo_vooov.png') }}">
                            <img src="{{ asset('assets/img/logo_vooov.png') }}" class="bi pe-none me-2" >
                            <p>{{ record.numberOfMoons }}</p>
                            <img src="{{ asset('assets/img/logo_vooov.png') }}" class="bi pe-none me-2" >
                            <p>{{ record.numberOfMoons }}</p>
                            </div>
                            <div class="col-md-3">
                                <h5 class="card-title">{{ record.title }}</h5>
                                <h6 class="card-subtitle mb-2 ">{{ record.kind }} - {{ record.voiceStyle }} - {{ record.createdAt|date('d-m-Y') }}</h6>
                                <a href="#" class="card-link"><img src="{{ asset('assets/img/play.svg') }}"></a>
                            </div>
                            <div class="col-md-7">
                                <p class="card-text">{{ record.description }}</p>
                            </div>
                        </div>

                        <a href="#" class="card-link">Another link</a>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse{{ record.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Link with href
                        </a>
                        <div class="collapse" id="collapse{{ record.id }}">
                            <div class="card card-body">
                              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>    
    {% endfor %}
{% endblock %}