{% extends 'base.html.twig' %}

{% block title %}Communauté{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center p-4" role="search">
            {{ form(form) }}
        </div>

        {% for user in users %}
            <div class="row featurette mt-3 gx-5 text-center align-items-center justify-content-around">
                <div class="col-md-6">
                    <div class="card main-background">
                        <div class="card-body text-light">
                            <div class="row">
                                <div class="col-md-2">
                                    <img class="rounded-circle main-logo" src="{{ asset('assets/img/logo_vooov.png') }}"><br><br>
                                </div>
                                <div class="col-md-3 text-start">
                                    <h4 class="card-title mb-3">{{ user.pseudo }}</h4>
                                    <a href="{{ path('app_other_user', {'id': user.id}) }}" class="btn btn-primary">Voir le profil</a>
                                </div>
                                <div class="col-md-6">
                                    <p class="card-text">{{ user.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>    
        {% endfor %}
    </div>
{% endblock %}
