<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Nathan KEDINGER">
    <meta name="generator" content="Jekyll v4.1.1">
    <meta name="description" content="{% block metaDescription %}{% endblock %}">
    <title>{% block title %} - Vooov échange vocaux et voix off{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
                <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"> 
                <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
                <link rel="preload" as="font">
                <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
                <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        {% endblock %}

    </head>
    <body>
        {% block content %}{% endblock %}

        <div class="container-fluid ps-0">
            {% if block ('studioBackground') is defined %}
                <!-- Background image --> 
                    <img src="{{ asset('assets/img/studio-background.png') }}" class="image-background">
                <!-- End background image--> 
            {% else %}
                <!-- Background image --> 
                <img src="{{ asset('assets/img/main-background.png') }}" class="image-background">
                <!-- End background image--> 
            {% endif %}
            <!-- Left Side Menu --> 
            <div class="d-flex flex-column flex-shrink-0 p-3 main-background side-menu-width">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <img src="{{ asset('assets/img/logo_vooov.png') }}" class="bi pe-none me-2 main-logo">
                    <span class="fs-4"><h1>Vooov</h1></span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{{ path('app_studio') }}" class="nav-link link-light" aria-current="page">
                        <img src="{{ asset('assets/img/record.svg') }}" class="bi pe-none me-2 links-logos">
                        Studio
                        </a>
                    </li>
                    <li>
                        <a href="/" class="nav-link text-white">
                        <img src="{{ asset('assets/img/home.png') }}" class="bi pe-none me-2 links-logos">
                        Accueil
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_offers') }}" class="nav-link text-white">
                        <img src="{{ asset('assets/img/offers.png') }}" class="bi pe-none me-2 links-logos">
                        Offres
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_wallet') }}" class="nav-link text-white">
                        <img src="{{ asset('assets/img/wallet.png') }}" class="bi pe-none me-2 links-logos">
                        Porte moon{% if app.user %} - {{ app.user.numberOfMoons }}{% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_community') }}" class="nav-link text-white">
                        <img src="{{ asset('assets/img/community.png') }}" class="bi pe-none me-2 links-logos">
                        Communauté
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                        <img src="{{ asset('assets/img/conversations.png') }}" class="bi pe-none me-2 links-logos">
                        Messages
                        </a>
                    </li>
                    <hr>
                    <li>
                        {% if app.user %}
                            <a href="{{ path('app_logout') }}" class="nav-link text-white">
                            <img src="{{ asset('assets/img/logout.png') }}" class="bi pe-none me-2 links-logos">
                            Déconnexion
                            </a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="nav-link text-white">
                            <img src="{{ asset('assets/img/logout.png') }}" class="bi pe-none me-2 links-logos">
                            Connexion
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!-- End left Side Menu --> 
            <!-- Right conversations side bar -->
            <div class="offcanvas offcanvas-end w-25" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <p>Try scrolling the rest of the page to see this option in action.</p>
                </div>
            </div>
            <!-- End right conversations sidebar -->
            <!-- Top right small menu -->
            <div class="dropdown top-right-small-menu border-radius-25 text-bg-dark">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <div>
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            </div>
                    {% if app.user %}
                        <strong>{{ app.user.pseudo }}</strong>
                    {% else %}
                        <strong>Utilisateur</strong>
                    {% endif %}
                </a>
                {% if app.user %}
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">Mes enregistrements</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_account') }}">Mon compte</a></li>
                        <li><a class="dropdown-item" href="#">Mentions légales</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Déconnexion</a></li>
                    </ul>
                {% else %}
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">Mentions légales</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Connexion</a></li>
                    </ul>
                {% endif %}

            </div>
        </div>    
            <!-- End top right small menu -->
            <!-- Bottom playbar -->
            {% if block ('studioBackground') is defined %}
            {% else %}
            <div class="d-flex justify-content-center p-2 bottom-navbar main-background">
                <div>
                    <a href="#">
                        <img src="{{ asset('assets/img/random-dice.png') }}" class="bi pe-none me-2 links-logos">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="{{ asset('assets/img/random.png') }}" class="bi pe-none me-2 links-logos">
                    </a>
                </div>                    
                <div class="bi pe-none me-2">
                  <div class="fw-bold text-light">Artiste</div>
                    <div class="text-light">Music Title</div>
                </div>
                <div>
                    <a href="#">
                        <img src="{{ asset('assets/img/rewind.svg') }}" class="bi pe-none me-2 links-logos">
                    </a>
                </div>                    
                <div>
                    <a href="#">
                        <img src="{{ asset('assets/img/play.svg') }}" class="bi pe-none me-2 links-logos">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="{{ asset('assets/img/stop.svg') }}" class="bi pe-none me-2 links-logos">
                    </a>
                </div>                    
                <div>
                    <a href="#">
                        <img src="{{ asset('assets/img/forward.svg') }}" class="bi pe-none me-2 links-logos">
                    </a>
                </div>
                <div class="progress mb-3" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar w-50" style="width: 5%"></div>
                </div>
            </div>
            {% endif %}

            <!-- End bottom playbar -->
            
    </body>
</html>
